@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');


$primary-color:#5552B9;
$secondary-color:#E0E0E3;
$grey-color:#939297;
$white-color:#FFF;
$lightWhite-color:#E0E0E3;

$background-color1: #FFF;
$primary-background-color: #5552B9;
$white-background: #FFF;
$banner-background-color: linear-gradient(166.14deg, #5552B9 45.85%, rgba(227, 227, 236, 0) 100.36%, rgba(72, 69, 156, 0) 106.36%);
//linear-gradient(166.14deg, #5552B9 45.85%, rgba(227, 227, 236, 0) 100.36%, rgba(72, 69, 156, 0) 106.36%)
// linear-gradient(#5552B9,#5552B9 50% ,#827FDA 0%, #5552B9 100%,#48459C 0%)

 
// navbar style added start
.mainMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainMenu ul li {
  display: inline-block;
}
.header{
  background:$background-color1 ;
}


.fullNavMain {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  padding: 0 20px;

}

.mainMenu menu ul li a {
  text-decoration: none;
  color: $grey-color;
  padding: 0 12px;
  transition: 0.4s ease-in-out;
  font-weight: 600;
  

}

.mainMenu menu ul li a:hover {
  color:$primary-color;

}
.navLastDiv{
  display: flex;
  align-items: "center"
}


.navLastDiv a{
  text-decoration: none;
}

.navLastDiv ul li {
  list-style: none;
}
.navLogin{
  background-color: $lightWhite-color;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  color: $primary-color;
  font-weight: 600;
}

.navSignup{
  background-color: transparent;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 600;
  color: $primary-color;
  
  border: 1px solid $primary-color;
}
.bullet{
  background-color: $primary-background-color;
  width:7px;
  height: 7px;
  border-radius: 50%;
  font-size: 5px;
  margin: 0 10px;
}

// navbar style added end


// banner style added start

.banner{
  background: $banner-background-color;
  width:100%;
  padding: 70px 0;
  color: $white-color;
}
.banner h2{
  font-size: 75px;
  
  letter-spacing: -5px;
  line-height: 1;
  
}
.banner p{
  font-size: 12px;
  padding: 30px 40px;
}
.btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}




.btn{
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: $primary-background-color;
  color:$white-color;
  cursor: pointer;
  
}



// banner style added end


// creativity style added start

.creativity{
  padding-left: 20px ;
  padding-top: 40px;
}
.creativity h3{
  font-size: 30px;
  font-weight: semibold;
  color: $primary-color;
  
}
.creativity p{
  font-size: 14px;
  font-weight: 300;
  color: $primary-color;
  padding: 20px 0;
  
}
.featureBtn{
  border: none;
  background-color: transparent;
  color: $primary-color;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;

}
.btnImg{
  padding-left:5px ;
}

// creativity style added end


// footer start
.footer{
  background-color: $primary-background-color;
  padding: 20px 0;
  color:$white-color
  
}
.footerFirstPart{
  text-align: center;
  padding: 15px 0;
}

.footerFirstPart p{
  padding-bottom: 60px;
}


.footerLastPart{
 padding-left: 20px
}
.input{
 border: none;
 outline: none;
 background-color: $white-background;
 padding: 13px 17px;
 border-radius: 50px;
 position: relative;
 width: 80%;
}
.submitBtn{
  border: none;
 outline: none;
 background-color:$primary-background-color;
 padding: 11px 15px;
 border-radius: 50px;
 position: absolute;
 right:86px;
 top:2px;
 color:$white-color
}

.footerIcon {
  padding-left:  20px;
 text-align: center;
}
.footerIcon img{
//  padding: 0px 10px;
 width: 15px;
 height: 15px;
 margin: 0px 10px;
 
}
.copyright{
padding-left: 140px;
}





// footer end


