@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');

$primary-color:#5552B9;
$secondary-color:#E0E0E3;
$grey-color:#939297;
$white-color:#FFF;
$lightWhite-color:#E0E0E3;

$background-color1: #FFF;
$primary-background-color: #5552B9;
$white-background: #FFF;
$banner-background-color: linear-gradient(90deg, rgba(89,85,187,1) 0%, rgba(152,149,216,1) 38%, rgba(85,82,185,1) 100%);;


$container-padding: 0 30px;





// navbar style added start
.mainMenu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainMenu ul li {
  display: inline-block;
}
.header{
  background:$background-color1 ;
  // position: fixed;
  // top:0;
  // z-index: 111;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.fullNavMain {
  display: grid;
  grid-template-columns: 4fr 8fr;
  align-items: center;
  padding: $container-padding;

}

.mainMenu menu ul li a {
  text-decoration: none;
  color: $grey-color;
  padding: 0 12px;
  transition: 0.4s ease-in-out;
  font-weight: 600;
  

}

.mainMenu menu ul li a:hover {
  color:$primary-color;

}
.navLastDiv{
  display: flex;
  align-items: "center"
}


.navLastDiv a{
  text-decoration: none;
}

.navLastDiv ul li {
  list-style: none;
}
.navLogin{
  background-color: $lightWhite-color;
  border-radius: 5px;
  padding: 7px 10px;
  cursor: pointer;
  color: $primary-color;
  font-weight: 600;
}

.navSignup{
  background-color: transparent;
  border-radius: 5px;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: 600;
  color: $primary-color;
  border: 1px solid $primary-color;
}
.bullet{
  background-color: $primary-background-color;
  
  width:7px;
  height: 7px;
  border-radius: 50%;
  font-size: 5px;
  margin: 0 10px;
}

// navbar style added end


// banner style added start

.banner{
  background:$banner-background-color;
  max-width:100%;
  padding: 90px 0;
  color: $white-color;
}
.banner h2{
  font-size: 75px;
  text-align: center;
  letter-spacing: -5px;
  line-height: 1;
  
}
.banner p{
  font-size: 12px;
  padding: 30px 40px;
  text-align: center;
  line-height: 1.5;
}
.btnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}




.btn{
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 50px;
  border: none;
  background-color: $primary-background-color;
  color:$white-color;
  cursor: pointer;
  
}



// banner style added end


// creativity style added start

.creativity{
  padding-left: 20px ;
  padding-top: 60px;
  padding-left: 30px;
}
.creativity h3{
  font-size: 30px;
  font-weight: semibold;
  color: $primary-color;
  
}
.creativity p{
  font-size: 15px;
  font-weight: 300;
  color: $primary-color;
  padding: 20px 0;
  line-height: 1.5;
  
}

.featureBtn{
  border: none;
  background-color: transparent;
  color: $primary-color;
  font-size: 18px;
  font-weight:600;
  display: flex;
  align-items: center;

}
.btnImg{
  padding-left:5px ;
}
.CreativeMainDiv{
  margin-bottom: 50px;
}

// for responsive 
.closeBtn{
  display: none;
  
  }



// creativity style added end



// freddom part start
.freedomDiv{
  
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
  height:100vh;
  position: relative;
  overflow: hidden;
  
}

.freedomImg1{
  position: absolute;
  top:20px;
  left: 140px;
}
.freedomImg2{
  position: absolute;
  top:300px;
  right:50px;
  width: auto;
  height: 150px;
}
.freedomImg3{
  position: absolute;
  right:0;
  top: 0;
  width: auto;
  height: 200px;
}
.freedomImg4{
  position: absolute;
  top:140px;
  left: 0;
  height: 400px;
  width: auto;
}

.freedomContent{
  display: flex;
  justify-content: center;
  align-items: center;
  color:$primary-color;
  padding-top: 120px;
  
}


.freedomContent h3{
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}
.freedomContent p{
  text-align: center;
  padding: 20px 0;
  line-height: 1.5;
  
}
// freddom part end


// footer start
.footer{
  background-color: $primary-background-color;
  padding: 10px 0px;
  color:$white-color;
  margin-top:25px
  
}
.footerFirstPart{
  text-align: center;
  padding: 15px 0;
}

.footerFirstPart p{
  padding-bottom: 90px;
}


.footerLastPart{
 padding:$container-padding
}
.input{
 border: none;
 outline: none;
 background-color: $white-background;
 padding: 13px 17px;
 border-radius: 50px;
 position: relative;
 width: 80%;
}
.submitBtn{
border: none;
 outline: none;
 background-color:$primary-background-color;
 padding: 11px 15px;
 border-radius: 50px;
 position: absolute;
 right:86px;
 top:2px;
 color:$white-color;
 cursor: pointer;
}


.footerIcon img{

 width: 15px;
 height: 15px;
 margin: 0px 15px;
 
}






// footer end


// media query

@media only screen and (max-width: 786px) {


  // navbar responsive
.mainMenu{
  display: none;
}
.menuMobile menu ul li{
  list-style: none;
  padding: 10px 0;
}
.menuMobile a{
 text-decoration: none;
 font-size: 20px;
}
.navLastDiv{
  display: none;
}
  .menuMobile{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 ;
    background-color: $white-background;
    left: 0;
    top:37px;
    transition: all 0.4s ease-out;
    width: 100%;
}
.closeBtnDiv{
  display: flex;
  justify-content: end;
  align-items: center;
}
  .closeBtn{
  display: block;
  margin-left: 5px;
  background-color: transparent;
  outline: none;
  border: none;
  color:#000;
  font-size: 30px;
  width:40px;
  border: 1px solid $primary-color;
}
// navbar responsive end

// freedom part



.freedomImg2{
 
  top:310px;
  
}
.freedomImg3{
  height: 150px;
}
.freedomImg4{
  
  top:180px;
  left: 0;
  height: 300px;
  width: auto;
}


}









